@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background:url('/assets/concrete_seamless.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/grey_wash_wall.png');
  border-radius: 0;
  box-shadow: 3px 10px 10px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #AFD6E3;
  font-family: 'Bungee Inline', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: 20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}