@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background:url('/assets/concrete_seamless.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/grey_wash_wall.png');
  border-radius: 0;
  box-shadow: 3px 10px 10px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #AFD6E3;
  font-family: 'Bungee Inline', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: 20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
img {
  max-height: 70%;
  max-width: 70%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 400px;
    width: 60%;
    margin: 0px auto;
}
.carousel-caption {
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
  background-color: rgba(0,0,0,0.5);
}
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}